gris_oscuro = #444
azul = #22BCE0
gris_texto = #7A7A7A

a 
	color orange

body
	background white
	color gris_oscuro
	font-family arial
	font-size 16px

header
	background gris_oscuro
	color white
	overflow hidden
	padding 0.5em
	position relative
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	z-index 1

	.logo
		border-right 1px solid azul
		float left
		width 60px

		img
			width 52px

	.titular
		margin 0 60px 0 70px
		.filtro
			color azul
			font-size 14px
			font-wieght bold
			font-style italic
			text-decoration none
		.publicar
			background orange
			color white
			margin -3px 1em 0 0
			padding 0.2em 0.5em
			text-decoration none
			font-style italic
			text-shadow 1px 1px 0px black
			float right
			
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	.usuario
		position absolute
		right 10px
		top 10px

		.avatar
			margin 0 1em 0 0
			position relative
			z-index 2
			img
				width 50px
				border-radius 50%
		.flechita
			background orange
			color white
			display block
			padding 3px
			position absolute
			right 0
			top 15px
			text-align right
			width 50%

nav
	background azul
	border-left 15px solid white
	position relative

	&:before
		border-left 20px solid white
		border-top 20px solid transparent
		border-bottom 20px solid transparent
		content ""
		top 0
		left 0px
		position absolute
	.menu 
		height 40px
		line-height 40px
		margin 0px
		margin-left 10px
		overflow-x auto
		white-space nowrap
		padding 0

		li
			display inline-block

			a
				margin 0 0.5em
				color white
				display block
				text-decoration none
				padding 0 0.2em
.posts
	padding 0.5em

	.post
		background white
		color gris_texto
		box-shadow 2px 2px 10px rgba(black, 0.5)
		border-radius 0 0 0.5em 0.5em

		.acciones
			border-top 3px solid azul
			padding 0.5em


		.descripcion
			color gris_texto

			.detalles
				height 160px
				margin-left 130px

				.autor
					margin 0.5em 0 2em 0

				.titulo
					font-size 18px
					font-style italic
					color gris_oscuro
					margin 0
					padding 0.5em 0.5em 0 0

			.imagen
				float left
				img
					width 120px
					vertical-align top
					height 160px


.left
	float left
.right
	float right